<section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
<br>
        <div class="tile is-ancestor">
          <div class="tile is-vertical is-8">
            <div class="tile">
              <div class="tile is-parent is-vertical">
                <article class="tile is-child box">
                  <p align="center">
  
                    <b>
                      <font color="#ECAC8F" size="6">Napfényes Étterem és Cukrászda</font>
                    </b>
                  </p>
                  <br> Az étlapon szereplő összes étel teljes mértékben kizárja az állati fehérjét, a legtöbbjük pedig bio alapanyagokból
                  is készül így garantálva azt, hogy minden nagyon egészséges. Ha valakinek kétségei vannak afelől, hogy minden
                  ételnek létezik vegán megfelelője, akkor érdemes ide szervezni egy vacsorát.
                </article>
  
              </div>
  
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box">
                <app-comment-section></app-comment-section>
              </article>
            </div>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <div class='carousel carousel-animated carousel-animate-slide' data-autoplay="true">
                <div class='carousel-container'>
                  <br>
                  <div class='carousel-item has-background is-active'>
                    <img class="is-background" src="https://i.imgur.com/C6WIkUs.png" alt="" width="640" height="310" />
  
                  </div>
                  <div class='carousel-item has-background'>
                    <img class="is-background" src="https://i.imgur.com/THqHxMk.png" alt="" width="640" height="310" />
  
                  </div>
  
                </div>
                <div class="carousel-navigation is-centered">
                  <div class="carousel-nav-left">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                  </div>
                  <div class="carousel-nav-right">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="columns is-gapless">
  
                <div class="column">
                  <span class="placeholder2">
                    <font color="black">
                      V. Bp, Ferenciek tere 2.
                    </font>
                  </span>
                </div>
              </div>
              <div class="columns is-gapless">
  
                <div class="column">
                  <span class="time2">
                    <font color="black">
                      H–V 12:00–22:30
                    </font>
                  </span>
                </div>
              </div>
  
              <div class="columns is-gapless">
                <div class="column">
                  <span class="user2">
                    <font color="black">
                      80 ülőhely
                    </font>
                  </span>
                </div>
              </div>
  
              <div class="columns is-gapless">
                <div class="column">
                  <span class="web2">
                    <font color="black">
                      <a href="http://www.napfenyesetterem.hu/">http://www.napfenyesetterem.hu/</a>
                    </font>
                  </span>
                </div>
              </div>
  
  
              <div class="columns is-gapless">
                <div class="column">
                  <span class="money2">
                    <font color="black">
                        <img src="https://i.imgur.com/F2Pm2sC.png">
                        <img src="https://i.imgur.com/F2Pm2sC.png">
                        <img src="https://i.imgur.com/F2Pm2sC.png">
                        <img src="https://i.imgur.com/F2Pm2sC.png">
                    </font>
                  </span>
                </div>
              </div>
  
            </article>
          </div>
        </div>

 </div>
</div>
</section>
