<div class="container is-fluid">
  <div class="notification">
    
  </div>
</div>


<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Bejelentkezés 
      </h1>
    </div>
  </div>
</section>

<div class="card">
  <footer class="card-footer">
    <p class="card-footer-item">
      <span>
        <a class="button is-large">
          <span class="icon is-medium">
            <i class="fa fa-google" aria-hidden="true"></i>
          </span>
          <span (click) = "login()">Google</span>
        </a>
      </span>
    </p>
    <p class="card-footer-item">
      <span>
        
        <span>
          <a class="button is-large">
            <span class="icon is-medium">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
            </span>
            <span (click) = "logout()" >Kijelentkezés</span>
          </a>
        </span>
        
        
      </span>
    </p>
  </footer>
</div>
