<section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
  
        
  
  
  
        <div class="tile is-ancestor">
          <div class="tile is-vertical is-8">
            <div class="tile">
              <div class="tile is-parent is-vertical">
                <article class="tile is-child box">
                  <p align="center">
  
                    <b>
                      <font color="#ECAC8F" size="6">The Goat Herder</font>
                    </b>
                  </p>
                  <br> Amennyire csak lehetséges, ételeink és italaink magyarországi alapanygokból készítjük, frissen és helyben
                  - így biztosítjuk az egyensúlyt az ízletes, tápláló, szezonális ételek között. Ételeink, amik közül választhatsz:
                  Reggelieink a következők Croissant, "Bircher" műzli, Pirítós és banán kenyér, Friss gyümölcs saláta, Szezonális
                  gyümölcs juice-ok, Ebédre akár választhatsz Szendvicske és wrappek közül, Saláták frissen készített dresszingekkel,
                  Levesek - a hidegebb hónapokban, Nassolnivalóink is vannak mint például, Hummusz és répamártogatós, Házi
                  készítésű torták, sütik és muffinok.
                </article>
  
              </div>
  
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box">
                <app-comment-section></app-comment-section>
              </article>
            </div>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <div class='carousel carousel-animated carousel-animate-slide' data-autoplay="true">
                <div class='carousel-container'>
                  <br>
                  <div class='carousel-item has-background is-active'>
                    <img class="is-background" src="https://i.imgur.com/6mbo55S.png" alt="" width="640" height="310" />
  
                  </div>
                  <div class='carousel-item has-background'>
                    <img class="is-background" src="https://i.imgur.com/zIYpkFl.png" alt="" width="640" height="310" />
  
                  </div>
  
                </div>
                <div class="carousel-navigation is-centered">
                  <div class="carousel-nav-left">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                  </div>
                  <div class="carousel-nav-right">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="columns is-gapless">
  
                <div class="column">
                  <span class="placeholder2">
                    <font color="black">
                      VII. Bp, István utca 5.
                    </font>
                  </span>
                </div>
              </div>
              <div class="columns is-gapless">
  
                <div class="column">
                  <span class="time2">
                    <font color="black">
                      H - P: 7:30 - 17:30
                    </font>
                  </span>
                </div>
              </div>
  
              <div class="columns is-gapless">
                <div class="column">
                  <span class="user2">
                    <font color="black">
                      15 ülőhely
                    </font>
                  </span>
                </div>
              </div>
  
              <div class="columns is-gapless">
                <div class="column">
                  <span class="web2">
                    <font color="black">
                      <a href="http://thegoatherder.hu/">http://thegoatherder.hu/</a>
                    </font>
                  </span>
                </div>
              </div>
  
  
              <div class="columns is-gapless">
                <div class="column">
                  <span class="money2">
                    <font color="black">
                        <img src="https://i.imgur.com/F2Pm2sC.png">
                        <img src="https://i.imgur.com/F2Pm2sC.png">
                        <img src="https://i.imgur.com/F2Pm2sC.png">
                    </font>
                  </span>
                </div>
              </div>
  
  
  
  
  
            </article>
          </div>
        </div>
  
      </div>
    </div>
  </section>