<section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
<br>
<div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
          <div class="tile">
            <div class="tile is-parent is-vertical">
              <article class="tile is-child box">
                <p align="center">

                  <b>
                    <font color="#ECAC8F" size="6">Hummus Bar</font>
                  </b>
                </p>
                <br> Pita szendvicsek és laffa tekercsek ha egy gyors falatra vágysz, tradícionális ízek modern formában. Hummus
                tálak – örökös kedvencek legtöbb vendégünknél. Feltétlen érdemes kipróbálni! Levesek, köretek, különleges
                desszertek és még több teljes szívvel, és kézzel-készült csoda vár nálunk. A mindennapi étkezésekre is fel
                vagyunk készülve, ha valaki szokványosabb hozzávalókat és ismerős ízeket keres.
              </article>

            </div>

          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <app-comment-section></app-comment-section>
            </article>
          </div>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <div class='carousel carousel-animated carousel-animate-slide' data-autoplay="true">
              <div class='carousel-container'>
                <br>
                <div class='carousel-item has-background is-active'>
                  <img class="is-background" src="https://i.imgur.com/cl7YQGV.png" alt="" width="640" height="310" />

                </div>
                <div class='carousel-item has-background'>
                  <img class="is-background" src="https://i.imgur.com/crs8BAO.png" alt="" width="640" height="310" />

                </div>

              </div>
              <div class="carousel-navigation is-centered">
                <div class="carousel-nav-left">
                  <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </div>
                <div class="carousel-nav-right">
                  <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <div class="columns is-gapless">

              <div class="column">
                <span class="placeholder2">
                  <font color="black">
                    III. Bp, Záhony u. 7
                  </font>
                </span>
              </div>
            </div>
            <div class="columns is-gapless">

              <div class="column">
                <span class="time2">
                  <font color="black">
                    H-P: 8:00-17:00
                  </font>
                </span>
              </div>
            </div>

            <div class="columns is-gapless">
              <div class="column">
                <span class="user2">
                  <font color="black">
                    82 ülőhely
                  </font>
                </span>
              </div>
            </div>

            <div class="columns is-gapless">
              <div class="column">
                <span class="web2">
                  <font color="black">
                    <a href="http://hummusbar.hu/">http://hummusbar.hu/</a>
                  </font>
                </span>
              </div>
            </div>


            <div class="columns is-gapless">
              <div class="column">
                <span class="money2">
                  <font color="black">
                      <img src="https://i.imgur.com/F2Pm2sC.png">  
                      <img src="https://i.imgur.com/F2Pm2sC.png">
                      <img src="https://i.imgur.com/F2Pm2sC.png">
                      
                  </font>
                </span>
              </div>
            </div>

            <img src="https://i.imgur.com/Wdn1UZY.png">




          </article>
        </div>
      </div>
    </div>
  </div>
</section>