<section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
  <br>
  
        <div class="tile is-ancestor">
          <div class="tile is-vertical is-8">
            <div class="tile">
              <div class="tile is-parent is-vertical">
                <article class="tile is-child box">
                  <p align="center">
  
                    <b>
                      <font color="#ECAC8F">Édeni vegán</font>
                    </b>
                  </p>
                  <br> Buda első vegán étterme, a Víziváros szívében, a Budai Vár lábánál nyitott azzal a céllal, hogy az egészségtudatos
                  táplálkozás mellett kiálljanak. Az Édeni Vegánban ennek megfelelően a tradicionális vegetáriánus–vegán irányt
                  képviselik: friss alapanyagokkal dolgoznak, az elérhető legfrissebb formában és legjobb minőségben. Ételeik
                  elkészítéséhez semmilyen állati eredetű nyersanyagot, színezéket, tartósítószert, ízfokozót vagy mesterséges
                  adalékanyagot nem használnak.
                </article>
  
              </div>
  
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box">
                <app-comment-section></app-comment-section>
              </article>
            </div>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <div class='carousel carousel-animated carousel-animate-slide' data-autoplay="true">
                <div class='carousel-container'>
                  <br>
                  <div class='carousel-item has-background is-active'>
                    <img class="is-background" src="https://i.imgur.com/3s85jKE.png" alt="" width="640" height="310" />
  
                  </div>
                  <div class='carousel-item has-background'>
                    <img class="is-background" src="https://i.imgur.com/suQ3Cn0.png" alt="" width="640" height="310" />
  
                  </div>
  
                </div>
                <div class="carousel-navigation is-centered">
                  <div class="carousel-nav-left">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                  </div>
                  <div class="carousel-nav-right">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="columns is-gapless">
  
                <div class="column">
                  <span class="placeholder2">
                    <font color="black">
                      I. Bp, Iskola u. 31.
                    </font>
                  </span>
                </div>
              </div>
              <div class="columns is-gapless">
  
                <div class="column">
                  <span class="time2">
                    <font color="black">
                      H–V 8:00–20:00
                    </font>
                  </span>
                </div>
              </div>
  
              <div class="columns is-gapless">
                <div class="column">
                  <span class="user2">
                    <font color="black">
                      28 ülőhely
                    </font>
                  </span>
                </div>
              </div>
  
              <div class="columns is-gapless">
                <div class="column">
                  <span class="web2">
                    <font color="black">
                      <a href="http://www.edenivegan.hu/">http://www.edenivegan.hu/</a>
                    </font>
                  </span>
                </div>
              </div>
  
  
              <div class="columns is-gapless">
                <div class="column">
                  <span class="money2">
                    <font color="black">
                    <img src="https://i.imgur.com/F2Pm2sC.png">
                    <img src="https://i.imgur.com/F2Pm2sC.png">
                    </font>
                  </span>
                </div>
              </div>
  
  
  
  
  
  
  
            </article>
          </div>
        </div>


    </div>
  </div>
</section>