<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">

        <br>
        <div class="tile is-ancestor">
          <div class="tile is-vertical is-8">
            <div class="tile">
              <div class="tile is-parent is-vertical">
                <article class="tile is-child box">
                  <p align="center">
  
                    <b>
                      <font color="#ECAC8F" size="6">Vegan Love</font>
                    </b>
                  </p>
                  <p align="right"> <font color="#ECAC8F">Vegán, Vegetáriánus </font></p> 
                  <br> Új kulináris kihívást kerestünk, ez pedig egy vegan street food étlap kikísérlezetése volt. Túl jól sikerült.
                  Étterem lett belőle. Soha nem gondoltuk volna, hogy amikor az ember növényi alapú táplálkozásra vált, mennyire
                  kitágul a világ. Milyen sok új fajta növény, zöldség, gyümölcs, gabona, olajos mag kerül a képbe, amiről
                  addig azt sem tudta, hogy létezik egyáltalán. Sőt, amiről azt sem tudta, hogy olyan, mint a hús, ha kirántja.
                  Hogy olyan, mint a tojás, ha beáztatja. Hogy olyan, mint a tej, ha megfőzi. Mindennek van alternatívája.
                </article>
  
              </div>
  
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box">
                <app-comment-section></app-comment-section>
              </article>
            </div>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <div class='carousel carousel-animated carousel-animate-slide' data-autoplay="true">
                <div class='carousel-container'>
                  <br>
                  <div class='carousel-item has-background is-active'>
                    <img class="is-background" src="https://i.imgur.com/4LiP0ot.png" alt="" width="640" height="310" />
  
                  </div>
                  <div class='carousel-item has-background'>
                    <img class="is-background" src="https://i.imgur.com/LtimgF1.png" alt="" width="640" height="310" />
  
                  </div>
  
  
                </div>
                <div class="carousel-navigation is-centered">
                  <div class="carousel-nav-left">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                  </div>
                  <div class="carousel-nav-right">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="columns is-gapless">
  
                <div class="column">
                  <span class="placeholder2">
                    <font color="black">
                      XI. Bp, Bartók Béla út 9
                    </font>
                  </span>
                </div>
              </div>
              <div class="columns is-gapless">
  
                <div class="column">
                  <span class="time2">
                    <font color="black">
                      H - V 11:00-21:00
                    </font>
                  </span>
                </div>
              </div>
  
              <div class="columns is-gapless">
                <div class="column">
                  <span class="user2">
                    <font color="black">
                      40 ülőhely
                    </font>
                  </span>
                </div>
              </div>
  
              <div class="columns is-gapless">
                <div class="column">
                  <span class="web2">
                    <font color="black">
                      <a href="http://www.veganlove.hu/">http://www.veganlove.hu/</a>
                    </font>
                  </span>
                </div>
              </div>
  
  
              <div class="columns is-gapless">
                <div class="column">
                  <span class="money2">
                    <font color="black">
                        <img src="https://i.imgur.com/F2Pm2sC.png">
                        <img src="https://i.imgur.com/F2Pm2sC.png">
                        <img src="https://i.imgur.com/F2Pm2sC.png">
                    </font>
                  </span>
                </div>
              </div>
  
              <br>
              <p align="center">Kiemelt ajánlatok</p>
              <h1>{{ title }}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="15">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
  
  
            </article>
          </div>
        </div>

      </div>
    </div>
  </section>
