<section class="hero is-primary is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
      <p align="left"> <font color="black">Kiemelt ajánlatok</font></p>
      </h1>
      <div class='carousel is-5 carousel-animated carousel-animate-slide'>
        <div class='carousel-container'>
          <div class='carousel-item is-active' routerLink="/veganlove">
            <figure class="image is-2by1" ><img src="https://i.imgur.com/4LiP0ot.png"></figure>
          </div>
          <div class='carousel-item' routerLink="/hummusbar">
            <figure class="image is-2by1" ><img src="https://i.imgur.com/crs8BAO.png"></figure>
          </div>
          <div class='carousel-item' routerLink="/goat">
            <figure class="image is-2by1"><img src="https://i.imgur.com/6mbo55S.png"></figure>
          </div>
          <div class='carousel-item' routerLink="/napfenyes">
            <figure class="image is-2by1"><img src="https://i.imgur.com/THqHxMk.png"></figure>
          </div>
          <div class='carousel-item' routerLink="/edeni">
            <figure class="image is-2by1"><img src="https://i.imgur.com/3s85jKE.png"></figure>
          </div>
          <div class='carousel-item' routerLink="/say">
            <figure class="image is-2by1"><img src="https://i.imgur.com/WBKY9cc.png"></figure>
          </div>
          <div class='carousel-item' routerLink="/napfenyes">
            <figure class="image is-2by1"><img src="https://i.imgur.com/C6WIkUs.png"></figure>
          </div>
        </div>
        <div class="carousel-navigation is-centered">
          <div class="carousel-nav-left">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </div>
          <div class="carousel-nav-right">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>








