<section class="hero is-success is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">

      </h1>
      <h2 class="subtitle">
        <div class="field">
          <div class="control">


          </div>
        </div>
      </h2>
    </div>
  </div>
</section>




<section class="hero">
  <div class="hero-body">
    <div class="container">

      <h2 class="subtitle">
        <p align="center">
          <b>
            <font color="#ECAC8F" routerLink="/veganlove">Vegan Love</font>
          </b>
        </p>
      </h2>
    </div>
  </div>
</section>

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">

      <h2 class="subtitle">

        <div class="container is-widescreen">
          <div class="notification">


            <div class="columns">

              <div class="column is-one-third">

                <div class='carousel carousel-animated carousel-animate-slide'>
                  <div class='carousel-container'>
                    <div class='carousel-item has-background is-active'>
                      <br>
                      <img class="is-background" src="https://i.imgur.com/4LiP0ot.png" alt="" width="640" height="310" routerLink="/details"/>
                      
                    </div>
                    <div class='carousel-item has-background'>
                      <br>
                      <img class="is-background" src="https://i.imgur.com/LtimgF1.png" alt="" width="640" height="310" routerLink="/details"/>
                      
                    </div>
                   
                    
                  </div>
                  <div class="carousel-navigation">
                    <div class="carousel-nav-left">
                      <br>
                      <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </div>
                    <div class="carousel-nav-right">
                      <br>
                      <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>





              </div>
              <div class="column">
                  <p align="right"><font color="#ECAC8F">Vegán, Vegetáriánus</font></p> 
                <br>
                <font color="black">
                 
                    Új kulináris kihívást kerestünk, ez pedig egy vegan street food étlap kikísérlezetése volt. Túl jól sikerült. Étterem lett belőle. Soha nem gondoltuk volna, hogy amikor az ember növényi alapú táplálkozásra vált, mennyire kitágul a világ. Milyen sok új fajta növény, zöldség, gyümölcs, gabona, olajos mag kerül a képbe, amiről addig azt sem tudta, hogy létezik egyáltalán. Sőt, amiről azt sem tudta, hogy olyan, mint a hús, ha kirántja. Hogy olyan, mint a tojás, ha beáztatja. Hogy olyan, mint a tej, ha megfőzi. Mindennek van alternatívája.

                </font>
                <br>
                <br>
                <br>
                <br>
                <br>
                
                <div class="columns is-gapless">

                  <div class="column">
                    <span class="user">
                      <font color="black" size="3">
                        40 ülőhely
                      </font>
                    </span>
                  </div>

                  <div class="column">
                    <span class="placeholder">
                      <font color="black" size="3">
                          XI. Bp,
                          Bartók Béla út 9
                      </font>
                    </span>
                  </div>

                  <div class="column">
                    <span class="time">
                      <font color="black" size="3">
                          H - V 11:00-21:00
                      </font>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </h2>
    </div>
  </div>
</section>

<section class="hero">
    <div class="hero-body">
      <div class="container">
  
        <h2 class="subtitle">
          <p align="center">
            <b>
              <font color="#ECAC8F" routerLink="/hummusbar">Hummus Bar</font>
            </b>
          </p>
        </h2>
      </div>
    </div>
  </section>



<section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
  
        <h2 class="subtitle">
  
          <div class="container is-widescreen">
            <div class="notification">
  
  
              <div class="columns">
  
                <div class="column is-one-third">
  
                  <div class='carousel carousel-animated carousel-animate-slide'>
                    <div class='carousel-container'>
                      <div class='carousel-item has-background is-active'>
                        <br>
                        <img class="is-background" src="https://i.imgur.com/cl7YQGV.png" alt="" width="640" height="310" routerLink="/details"/>
                        
                      </div>
                      <div class='carousel-item has-background'>
                        <br>
                        <img class="is-background" src="https://i.imgur.com/crs8BAO.png" alt="" width="640" height="310" routerLink="/details"/>
                        
                      </div>
                     
                      
                    </div>
                    <div class="carousel-navigation">
                      <div class="carousel-nav-left">
                        <br>
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                      </div>
                      <div class="carousel-nav-right">
                        <br>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
  
  
  
  
  
                </div>
                <div class="column">
                    <p align="right"><font color="#ECAC8F">Vegán, Vegetáriánus</font></p> 
                  <br>
                  <font color="black">
                      Pita szendvicsek és laffa tekercsek ha egy gyors falatra vágysz, tradícionális ízek modern formában.

Hummus tálak – örökös kedvencek legtöbb vendégünknél. Feltétlen érdemes kipróbálni!

Levesek, köretek, különleges desszertek és még több teljes szívvel, és kézzel-készült csoda vár nálunk.

A mindennapi étkezésekre is fel vagyunk készülve, ha valaki szokványosabb hozzávalókat és ismerős ízeket keres.


  
                  </font>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  
                  <div class="columns is-gapless">
  
                    <div class="column">
                      <span class="user">
                        <font color="black" size="3">
                          82 ülőhely
                        </font>
                      </span>
                    </div>
  
                    <div class="column">
                      <span class="placeholder">
                        <font color="black" size="3">
                            III. Bp, Záhony u. 7
                        </font>
                      </span>
                    </div>
  
                    <div class="column">
                      <span class="time">
                        <font color="black" size="3">
                            H-P: 8:00-17:00
                        </font>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </h2>
      </div>
    </div>
  </section>
  <section class="hero">
      <div class="hero-body">
        <div class="container">
    
          <h2 class="subtitle">
            <p align="center">
              <b>
                <font color="#ECAC8F" routerLink="/goat">The Goat Herder</font>
              </b>
            </p>
          </h2>
        </div>
      </div>
    </section>
    
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
    
          <h2 class="subtitle">
    
            <div class="container is-widescreen">
              <div class="notification">
    
    
                <div class="columns">
    
                  <div class="column is-one-third">
    
                    <div class='carousel carousel-animated carousel-animate-slide'>
                      <div class='carousel-container'>
                        <div class='carousel-item has-background is-active'>
                          <br>
                          <img class="is-background" src="https://i.imgur.com/6mbo55S.png" alt="" width="640" height="310" />
                      
                        </div>
                        <div class='carousel-item has-background'>
                          <br>
                          <img class="is-background" src="https://i.imgur.com/tWjNSIx.png" alt="" width="640" height="310" />
                          
                        </div>
                        <div class='carousel-item has-background'>
                          <br>
                          <img class="is-background" src=" https://i.imgur.com/phMyMh5.png" alt="" width="640" height="310" />
                          
                        </div>
                       
                      </div>
                      <div class="carousel-navigation">
                        <div class="carousel-nav-left">
                          <br>
                          <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        </div>
                        <div class="carousel-nav-right">
                          <br>
                          <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
    
    
    
    
    
                  </div>
                  <div class="column">
                      <p align="right"><font color="#ECAC8F">Vegetáriánus</font></p> 
                    <br>
                    <font color="black">
                 
                      Amennyire csak lehetséges, ételeink és italaink magyarországi alapanygokból készítjük, frissen és helyben - így biztosítjuk az egyensúlyt az ízletes, tápláló, szezonális ételek között.
                      Ételeink, amik közül választhatsz: 
    
                      Reggelieink a következők 
                      
                      Croissant, 
                      "Bircher" műzli, 
                      Pirítós és banán kenyér, 
                      Friss gyümölcs saláta, 
                      Szezonális gyümölcs juice-ok, 
                      Ebédre akár választhatsz
                      
                      Szendvicske és wrappek közül, 
                      Saláták frissen készített dresszingekkel, 
                      Levesek - a hidegebb hónapokban, 
                      Nassolnivalóink is vannak mint például, 
                      
                      Hummusz és répamártogatós, 
                      Házi készítésű torták, sütik és muffinok.
                      <br>
                    </font>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="columns is-gapless">
    
                      <div class="column">
                        <span class="user">
                          <font color="black" size="3">
                            15 ülőhely
                          </font>
                        </span>
                      </div>
    
                      <div class="column">
                        <span class="placeholder">
                          <font color="black" size="3">
                            VII. Bp, 
                             István utca 5. 
                          </font>
                        </span>
                      </div>
    
                      <div class="column">
                        <span class="time">
                          <font color="black" size="3">
                              H - P: 7:30 - 17:30 
                          </font>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </h2>
        </div>
      </div>
    </section>

  <section class="hero">
      <div class="hero-body">
        <div class="container">
    
          <h2 class="subtitle">
            <p align="center">
              <b>
                <font color="#ECAC8F" routerLink="/napfenyes">Napfényes Étterem és Cukrászda</font>
              </b>
            </p>
          </h2>
        </div>
      </div>
    </section>
  
  
  
  <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
    
          <h2 class="subtitle">
    
            <div class="container is-widescreen">
              <div class="notification">
    
    
                <div class="columns">
    
                  <div class="column is-one-third">
    
                    <div class='carousel carousel-animated carousel-animate-slide'>
                      <div class='carousel-container'>
                        <div class='carousel-item has-background is-active'>
                          <br>
                          <img class="is-background" src="https://i.imgur.com/C6WIkUs.png" alt="" width="640" height="310" routerLink="/details"/>
                          
                        </div>
                        <div class='carousel-item has-background'>
                          <br>
                          <img class="is-background" src="https://i.imgur.com/THqHxMk.png" alt="" width="640" height="310" routerLink="/details"/>
                          
                        </div>
                       
                        
                      </div>
                      <div class="carousel-navigation">
                        <div class="carousel-nav-left">
                          <br>
                          <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        </div>
                        <div class="carousel-nav-right">
                          <br>
                          <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
    
    
    
    
    
                  </div>
                  <div class="column">
                      <p align="right"> <font color="#ECAC8F">Vegán, Vegetáriánus, Raw-vegán </font></p> 
                    <br>
                    <font color="black">
                        Az étlapon szereplő összes étel teljes mértékben kizárja az állati fehérjét, a legtöbbjük pedig bio alapanyagokból is készül így garantálva azt, hogy minden nagyon egészséges. Ha valakinek kétségei vannak afelől, hogy minden ételnek létezik vegán megfelelője, akkor érdemes ide szervezni egy vacsorát.
  
    <br><br>
                    </font>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    
                    <div class="columns is-gapless">
    
                      <div class="column">
                        <span class="user">
                          <font color="black" size="3">
                            80 ülőhely
                          </font>
                        </span>
                      </div>
    
                      <div class="column">
                        <span class="placeholder">
                          <font color="black" size="3">
                              V. Bp, Ferenciek tere 2.
                          </font>
                        </span>
                      </div>
    
                      <div class="column">
                        <span class="time">
                          <font color="black" size="3">
                              H–V 12:00–22:30
                          </font>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </h2>
        </div>
      </div>
    </section>

    <section class="hero">
        <div class="hero-body">
          <div class="container">
      
            <h2 class="subtitle">
              <p align="center">
                <b>
                  <font color="#ECAC8F" routerLink="/edeni">Édeni vegán</font>
                </b>
              </p>
            </h2>
          </div>
        </div>
      </section>
    
    
    
    <section class="hero is-primary">
        <div class="hero-body">
          <div class="container">
      
            <h2 class="subtitle">
      
              <div class="container is-widescreen">
                <div class="notification">
      
      
                  <div class="columns">
      
                    <div class="column is-one-third">
      
                      <div class='carousel carousel-animated carousel-animate-slide'>
                        <div class='carousel-container'>
                          <div class='carousel-item has-background is-active'>
                            <br>
                            <img class="is-background" src="https://i.imgur.com/3s85jKE.png" alt="" width="640" height="310" routerLink="/details"/>
                            
                          </div>
                          <div class='carousel-item has-background'>
                            <br>
                            <img class="is-background" src="https://i.imgur.com/suQ3Cn0.png" alt="" width="640" height="310" routerLink="/details"/>
                            
                          </div>
                         
                          
                        </div>
                        <div class="carousel-navigation">
                          <div class="carousel-nav-left">
                            <br>
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                          </div>
                          <div class="carousel-nav-right">
                            <br>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                          </div>
                        </div>
                      </div>
      
      
      
      
      
                    </div>
                    <div class="column">
                        <p align="right"><font color="#ECAC8F">Vegán, Vegetáriánus</font></p> 
                      <br>
                      <font color="black">
                          Buda első vegán étterme, a Víziváros szívében, a Budai Vár lábánál nyitott azzal a céllal, hogy az egészségtudatos táplálkozás mellett kiálljanak. Az Édeni Vegánban ennek megfelelően a tradicionális vegetáriánus–vegán irányt képviselik: friss alapanyagokkal dolgoznak, az elérhető legfrissebb formában és legjobb minőségben. Ételeik elkészítéséhez semmilyen állati eredetű nyersanyagot, színezéket, tartósítószert, ízfokozót vagy mesterséges adalékanyagot nem használnak.
    
      
                      </font>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      
                      <div class="columns is-gapless">
      
                        <div class="column">
                          <span class="user">
                            <font color="black" size="3">
                            28 ülőhely
                            </font>
                          </span>
                        </div>
      
                        <div class="column">
                          <span class="placeholder">
                            <font color="black" size="3">
                                I. Bp, Iskola u. 31.
                            </font>
                          </span>
                        </div>
      
                        <div class="column">
                          <span class="time">
                            <font color="black" size="3">
                                H–V 8:00–20:00
                            </font>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </h2>
          </div>
        </div>
      </section>

      <section class="hero">
          <div class="hero-body">
            <div class="container">
        
              <h2 class="subtitle">
                <p align="center">
                  <b>
                    <font color="#ECAC8F" routerLink="/say">SAY CHEEZ RAW </font>
                  </b>
                </p>
              </h2>
            </div>
          </div>
        </section>
      
      
      
      <section class="hero is-primary">
          <div class="hero-body">
            <div class="container">
        
              <h2 class="subtitle">
        
                <div class="container is-widescreen">
                  <div class="notification">
        
        
                    <div class="columns">
        
                      <div class="column is-one-third">
        
                        <div class='carousel carousel-animated carousel-animate-slide'>
                          <div class='carousel-container'>
                            <div class='carousel-item has-background is-active'>
                              <br>
                              <img class="is-background" src="https://i.imgur.com/WBKY9cc.png" alt="" width="640" height="310" routerLink="/details"/>
                              
                            </div>
                            <div class='carousel-item has-background'>
                              <br>
                              <img class="is-background" src="https://i.imgur.com/EVX6nbb.png" alt="" width="640" height="310" routerLink="/details"/>
                              
                            </div>
                           
                            
                          </div>
                          <div class="carousel-navigation">
                            <div class="carousel-nav-left">
                              <br>
                              <i class="fa fa-chevron-left" aria-hidden="true"></i>
                            </div>
                            <div class="carousel-nav-right">
                              <br>
                              <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                          </div>
                        </div>
        
        
        
        
        
                      </div>
                      <div class="column">
                          <p align="right"> <font color="#ECAC8F">Vegán, Vegetáriánus, Raw-vegán</font></p> 
                        <br>
                        <font color="black">
                           Ha valamilyen okból búcsút is intünk a tejnek, jó tudni, hogy a jó sajtokról koránt sem kell lemondani. Az üzletet vezető házaspár a nyersvegán konyha híve, ami annyit tesz, semmit nem hevítenek 42 foknál többre. Sajtjaikat kesudióból készítik, probiotikummal oltják, és a paprikás-snidlingestől és spirulinaalgásig számtalan fűszerezéssel teszik különlegessé. Minden alapanyag 100%-ig bio, valamint a csírákkal és krékerekkel kombinált sajttálaik mellett nyersvegán süteményeket és turmixokat is kaphatunk a Say Cheez Raw-ban. 
      
        
                        </font>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        
                        <div class="columns is-gapless">
        
                          <div class="column">
                            <span class="user">
                              <font color="black" size="3">
                              6 ülőhely
                              </font>
                            </span>
                          </div>
        
                          <div class="column">
                            <span class="placeholder">
                              <font color="black" size="3">
                                  XI Bp, Szabolcska M. u. 7.
                              </font>
                            </span>
                          </div>
        
                          <div class="column">
                            <span class="time">
                              <font color="black" size="3">
                                  H–P 10:00–20:00
                              </font>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </h2>
            </div>
          </div>
        </section>

        <section class="hero">
            <div class="hero-body">
              <div class="container">
          
                <h2 class="subtitle">
                  <p align="center">
                    <b>
                      <font color="#ECAC8F" routerLink="/dagoba">DAGOBA BISZTRÓ</font>
                    </b>
                  </p>
                </h2>
              </div>
            </div>
          </section>
        
        
        
        <section class="hero is-primary">
            <div class="hero-body">
              <div class="container">
          
                <h2 class="subtitle">
          
                  <div class="container is-widescreen">
                    <div class="notification">
          
          
                      <div class="columns">
          
                        <div class="column is-one-third">
          
                          <div class='carousel carousel-animated carousel-animate-slide'>
                            <div class='carousel-container'>
                              <div class='carousel-item has-background is-active'>
                                <br>
                                <img class="is-background" src="https://i.imgur.com/hZ4JpTE.png" alt="" width="640" height="310" routerLink="/details"/>
                                
                              </div>
                              <div class='carousel-item has-background'>
                                <br>
                                <img class="is-background" src="https://i.imgur.com/zIYpkFl.png" alt="" width="640" height="310" routerLink="/details"/>
                                
                              </div>
                             
                              
                            </div>
                            <div class="carousel-navigation">
                              <div class="carousel-nav-left">
                                <br>
                                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                              </div>
                              <div class="carousel-nav-right">
                                <br>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                              </div>
                            </div>
                          </div>
          
          
          
          
          
                        </div>
                        <div class="column">
                            <p align="right"> <font color="#ECAC8F">Vegán, Vegetáriánus </font></p> 
                          <br>
                          <font color="black">
                              Itt, a Józsefváros körúton kívüli részén, méregzöldre festett ajtókeret és kézzel vezetett menütábla mögött kékre mázolt asztalt és egészséges vonalon mozgó fogásokat találunk. Az ételek olyanok mint készítőik: változatosak, vidámak, sok a szín, sok a különleges fűszer és mindig van vegetáriánus opció is. 
        <br><br>
          
                          </font>
                          <br>
                          <br>
                          <br>
                          <br>
                          <br>
                          
                          <div class="columns is-gapless">
          
                            <div class="column">
                              <span class="user">
                                <font color="black" size="3">
                                15 ülőhely
                                </font>
                              </span>
                            </div>
          
                            <div class="column">
                              <span class="placeholder">
                                <font color="black" size="3">
                                  VIII. Bp, Práter u. 59
                                </font>
                              </span>
                            </div>
          
                            <div class="column">
                              <span class="time">
                                <font color="black" size="3">
                                    H–P 8:00–15:00
                                </font>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </h2>
              </div>
            </div>
          </section>